*{
  /* border-radius: 3px; */
}

.container{
  background-color: rgb(161 166 206);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}


.calculator{
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  width: 30%;
  height: 55%;
  text-align: center;
  padding-bottom: 1rem;
}

.heading{
  text-align: center;
}

.btn-nums{
  margin: 0.3rem;
  width: 24%;
  height: 7vh;
  border: none;
  background-color: rgb(191 200 255);
}

.btn-operators{
  margin: 0.3rem;
  width: 14%;
  height: 7vh;
  background-color: black;
  color: white;
}
.btn-operators:hover{
  background-color: white;
  color: black;
}
#result-btn{
  background-color: rgb(43 186 214);
  border: none;
  color: white;
}
#result-btn:hover{
  background-color: white;
  color: rgb(43 186 214);
  border: 2px solid rgb(43 186 214);
  /* border-color: rgb(43 186 214); */
}
#inputEle{
  margin: 0.3rem;
  width: 73%;
  height: 6vh;
  border: 5px ridge;
}
button{
  font-weight: bold;
  font-size: 1rem;
}

input{
  font-weight: bold;
  font-size: 1rem;
}

#clear-btn{
  background-color: red;
  color: white;
  border: none;
}

#clear-btn:hover{
  background-color: white;
  color: red;
  border: 2px solid red;
}